h1 {
    color: red
}

h3 {
    color: #d41e9e;

}

h2 {
    color: chartreuse
}

p {
    color: hotpink
}

#link {
    border-width: 2px;
    border-color: hsl(355, 96%, 51%);
    border-style: ridge;
}

#firstParagraph {
    color: green;
}

#everything {
    color: rgb(248, 6, 6);
    text-align: center;
    font-size: 30pt;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: rgb(24, 224, 141);
}

#space {
    height: 15px;
}

#spac {
    height: 15px;
}

#button {
    font-size: 16pt;
}